<configuration>
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%xException{10} \n</pattern>
        </encoder>
    </appender>

    <logger name="incoming-request" level="INFO" additivity="false">
        <appender-ref ref="stdout" />
    </logger>

    <logger name="outgoing-request" level="INFO" additivity="false">
        <appender-ref ref="stdout" />
    </logger>

    <logger name="org.asynchttpclient.netty.channel" level="INFO" />

    <logger name="web-access" level="INFO" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>
</configuration>
