<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-include-appenders.xml"/>

    <!-- Use the following to control log levels and filtering, at the package level -->
    <logger name="akka" level="INFO"/>
    <logger name="incoming-request" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.asynchttpclient.netty.channel" level="INFO"/>
    <logger name="outgoing-request" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="web-access" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
